@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background: #c4c7c6;
}
.navbar_container{
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px 3px rgb(104, 100, 100);
    margin: 1rem;
    background: #a4c4b7;
}
.navbar_container .title{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;

}

.navbar_container .options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem 0.2rem;
}
.item {
    background: gray;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 0.3rem;

}
.item:hover{
    background: rgb(156, 153, 153);
}

.item a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5 0.8rem;
    margin: 0.2rem 0.5rem;
}
.container{
    margin: 10vh auto;
    width: 70%;
    height: 100%;
    box-shadow: 5px -5px 5px 10px #655858;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    text-align: center;
    background: #a4c4b7;
}
.container p{
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.input_section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question{
    box-shadow: 1px 1px 5px 3px rgb(156 153 153);
    background: wheat;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.25rem 0;
    width: 70%;
}
.question div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.input_section label{
    margin-top: 0.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
}
.input_section input{
    outline: none;
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: 3px solid gray;
}
 button{
    background: #5b5e5c;
    margin: 1rem;
    border: none;
    padding: 0.5rem 1em;
    font-weight: 700;
    border-radius: 0.2rem;
    letter-spacing: 1px;
    color: white;
}
button:hover{
    background: #898b8a;
    color:black
}
.result_section{
    margin-top: 2rem;
    font-weight: 700;
    border-bottom: 1px solid grey;
    margin: 0 auto;
    padding-bottom: 5px;
    border-radius: 5px;
}
.active{
    background: #ce2929;
}
/* hiding arrows from input section */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}