@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
button{
    cursor: pointer;
}
.navbar_container{
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 3px 2px rgb(197, 197, 197);
    margin: 1rem;
    background: #3781ba;
}
.navbar_container .title{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    color: white;
}

.navbar_container .options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem 0.2rem;
}
.back_btn{
    position: absolute;
    left: 10%;
    border: 1px solid grey;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}
.back_btn a{
    color: black;
}
.back_btn:hover{
    background: rgb(245, 245, 245);
}
.item {
    background: #37a2ba;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 50%;
    transform: scale(0.9);
}
.item:hover{
    background: #268ca3;
    transform: scale(1);
}

.item a{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5 0.8rem;
    margin: 0.2rem 0.5rem;
}
.container{
    min-width: 300px;
    margin: 10vh auto;
    width: 70%;
    height: 100%;
    box-shadow: 0px 0px 3px 2px rgb(212, 212, 212);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    text-align: center;
    background: #ffffff;
}
.container p{
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.input_section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question{
    box-shadow: 0px 0px 3px 2px rgb(196 193 193);
    background: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.45rem 0;
    width: 70%;
    min-width: 250px;
}
.question div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 95% ;
    margin: 0 auto;
}
.input_section label{
    margin-top: 0.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
}
.input_section input{
    outline: none;
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: 1px solid black;
}
 button{
    background: black;
    margin: 1rem;
    border: none;
    padding: 0.5rem 1em;
    font-weight: 700;
    border-radius: 0.2rem;
    letter-spacing: 1px;
    color: white;
}
button:hover{
    background: #262727;
}
.result_section{
    margin-top: 2rem;
    font-weight: 700;
    border-bottom: 1px solid grey;
    margin: 0 auto;
    padding-bottom: 5px;
    border-radius: 5px;
}
.active{
    background: #ce2929;
}


.option_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* hiding arrows from input section */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer{
    background-color:transparent;
}
.footer p{
    text-align: center;

}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer ul li{
    padding: 1.2rem 1rem;
    list-style-type: none;
   
}
.footer ul li a{
    color: black;
    text-decoration: none;
}
